.login {
  margin: 0 auto;
  padding-bottom: 38px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.login-title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: #fff;
  line-height: 126px;
  text-align: center;
  width: 100%;
  background-color: #35d0ba;
  font-weight: bolder;
}
.login-con {
  width: 390px;
  margin: 0 auto;
}
.login-con-img {
  width: 117px;
  display: block;
  margin: 10px auto;
}
.login-con-line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.login-con-form .ant-input {
  font-size: 16px;
  color: #1b3815;
  line-height: 20px;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px;
}
.login-con-form-reset {
  font-size: 16px;
  line-height: 16px;
  color: #e84a5f;
  padding-left: 20px;
}
.login-con-form-btn {
  background-color: #35d0ba;
  border-color: #35d0ba;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  font-weight: bolder;
}
.login-con-form-btn:hover {
  background-color: #1b3815;
  border-color: #1b3815;
}
.login-con-form-btn:focus {
  background-color: #1b3815;
  border-color: #1b3815;
}
.login-con-form-register {
  color: #35d0ba;
  font-weight: bolder;
  line-height: 24px;
  margin-top: 38px;
  text-align: center;
  display: block;
}
