.reset {
  background: #35d0ba;
  width: 1140px;
  margin: 0 auto;
  padding: 36px;
}
.reset-left {
  margin-top: 48px;
}
.reset-left-img {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px;
  width: 200px;
  display: block;
}
.reset-left-btn {
  border-radius: 24px;
  padding: 5px;
  width: 140px;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 8px;
  cursor: pointer;
  text-align: center;
  display: block;
  font-weight: bolder;
}
.reset-right {
  padding-top: 80px;
  width: 100%;
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.reset-right-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 46px;
  line-height: 34px;
  font-size: 28px;
  color: #495057;
}
.reset-right-form {
  margin: 0 100px;
}
.reset-right-form-button {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.alert-style {
  text-align: center;
  color: red;
  font-weight: bold;
}